[submodule "nva_print"]
	path = nva_print
	url = https://github.com/du-yicheng23/nva_print
[submodule "unit_test/googletest"]
	path = unit_test/googletest
	url = https://github.com/google/googletest.git
