[submodule "nva_print"]
	path = nva_print
	url = https://github.com/du-yicheng23/nva_print.git
[submodule "unit_test/googletest"]
	path = unit_test/googletest
	url = https://github.com/google/googletest.git
[submodule "unit_test/minunit"]
	path = unit_test/minunit
	url = https://github.com/siu/minunit.git
